@model List<UserListItemVM>
@{
    ViewData["Title"] = "User";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sliders</h6>
        <a href="/User/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Fullname</th>
                <th>Username</th>
                <th>Password</th>
                <th>Confirm Password</th>
                <th>Profil Image</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.Username</td>
                            <td>@item.Password</td>
                            <td>@item.ConfirmPassword</td>
                            <td><img height="100px" src="@item.ImageUrl" /></td>
                            <td class="text-center"><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Username">Update</a></td>
                            <td class="text-center"><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Username">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>